.tabdiv table.tableForm {
	padding:0;
	margin : 0;	
	width : 100%;
    border-collapse:collapse;    
    border:1px solid #d3d3d3;    
}

.tabdiv table.tableForm tr td {
	padding-left:3px !important;
    padding-right:3px !important;
    border-left:1px solid #d3d3d3;
    border-right:1px solid #d3d3d3;
    border-top:1px solid #d3d3d3;
    border-bottom:1px solid #d3d3d3;
    font-size:12px;
}

